/* ## Colors

- Green: hsl(75, 94%, 57%)

- White: hsl(0, 0%, 100%)

- Grey 700: hsl(0, 0%, 20%)
- Grey 800: hsl(0, 0%, 12%)
- Grey 900: hsl(0, 0%, 8%) */

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --grey: hsl(0, 0%, 20%);
  --darkGrey: hsl(0, 0%, 12%);
  --black: hsl(0, 0%, 8%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(75, 94%, 57%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--black);
  color: var(--white);
}

.container {
  width: min(98%, 20rem);
  background-color: var(--darkGrey);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0.5rem;
  margin: 1rem;
}

.img-box {
  width: 20%;
  margin: 1.9rem auto 1rem;
}

img {
  max-width: 100%;
  border-radius: 50%;
}

#name {
  font-size: 1.2rem;
}

#location {
  margin: 0.3rem 0 1rem 0;
  font-size: 0.7rem;
  color: var(--green);
}

p {
  font-size: 0.7rem;
  color: hsl(0, 0%, 70%);
  word-spacing: 0.1rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--white);
}

ul {
  list-style: none;
}

ul li {
  width: 75%;
  background-color: var(--grey);
  margin: 0.7rem auto;
  padding: 0.7rem;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.1s ease-in;
  color: var(--white);
}

li:hover {
  background-color: var(--green);
}

li:hover > a {
  color: var(--black);
}

ul li:last-child {
  margin-bottom: 1rem;
}
